header {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    justify-content: space-between; /* Distribute space between header and nav */
    padding: 50px;
  }
  
  body {
    background-color:#c3edb5;
  }
  
  .nav-bar {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
    background-color:#c3edb5;
  }
  
  .nav-bar li {
    display: inline-block;
  }
  
  .nav-bar li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-family: serif;
  }
  
  .nav-bar li a:hover {
    color: white;
    transition-duration: 0.3s;
  }
  
  .navText {
    color: darkslategrey;
  }
  
  .home {
    list-style: none;
    text-align: left;
  }
  
  .ying {
    font-size: 40;
    color: darkslategrey;
    font-weight: lighter;
    text-decoration: none;
    letter-spacing: 0.05em;
    font-family: 'forum', serif;
  }
  
  .nav-bar .active {
    color: white;
  }

  html {
    scroll-behavior: smooth;
  }

  .parallax-item {
    display: flex;
    align-items: last baseline;
    justify-content: left;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
    width: 85%;
    background: url("homePic.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Parallax Effect for DIV 3 */
    min-height: 550px;
    float: left;
    margin: 0;
    padding: 0;
  }

  p {
    display: inline-table;
    white-space: pre-wrap;
  }
