html {
    scroll-behavior: smooth;
  }

  .banner {
    background-color: rgb(201, 201, 247); /* Background color of the banner */
    color: #fff; /* Text color */
    text-align: center; /* Center-align the text */
    padding: 15px; /* Add some padding for spacing */
    font-size: 18px; /* Adjust font size as needed */
    font-family: serif;
    margin: 0;
}

header {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    justify-content: space-between; /* Distribute space between header and nav */
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 50px;
    padding-bottom: 100px;
  }
  
  body {
    background-color:#c3edb5;
  }
  
/* styling for the navigation bar */
  .nav-bar {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
    background-color:#c3edb5;
  }
  
  .nav-bar li {
    display: inline-block;
  }
  
  .nav-bar li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-family: serif;
  }
  
  .nav-bar li a:hover {
    color: white;
    transition-duration: 0.3s;
  }
  
  .navText {
    color: darkslategrey;
  }

  .nav-bar .active {
    color: white;
  }

/* styling for title of site: Dr. Ying A. Cao */
  .home {
    list-style: none;
    text-align: left;
  }
  
  .ying {
    font-size: 40;
    color: darkslategrey;
    font-weight: lighter;
    text-decoration: none;
    letter-spacing: 0.05em;
    font-family: 'forum', serif;
  }
  
/* styling for the paralllax image on home page */
.parallax-item {
  display: flex;
  align-items: last baseline;
  justify-content: left;
  font-weight: bold;
  font-family: Montserrat, sans-serif;
  width: 85%; /* Adjusted width to leave space on the right side */
  background: url("homePic.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Parallax Effect for DIV 3 */
  min-height: 550px;
  float: left;
  margin-right: auto; /* Pushes the element to the left */
  padding: 0;
}

p {
  display: inline-table;
  white-space: pre-wrap;
}

.vertical-text {
  flex: 1; /* Allow the text to take up 1/2 of the container */
  writing-mode: vertical-rl; /* Rotate text from bottom to top */
  text-orientation: mixed; /* Ensure compatibility with different browsers */
  text-align: center; /* Center-align the vertical text */
  font-size: 18px; /* Adjust font size as needed */
  font-family: serif; /* Make the text bold */
  padding: 70px; /* Add padding for spacing */
  color: darkslategrey; /* Text color */
}

h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center; /* Align items vertically in the center */
  padding-left: 25px;
  padding-right: 50px;
  font-size: 40px;
  color: darkslategrey;
  font-weight: lighter;
  text-decoration: none;
  letter-spacing: 0.05em;
  font-family: 'forum', serif;
}

#tms-home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; /* Horizontal layout */
  text-align: center; /* Center-align text within the p elements */
}

#tms-home p {
  max-width: 20%; /* Adjust as needed to control the width of each paragraph */
  padding-left: 30px; /* Add padding for spacing */
  padding-right: 30px;
  font-size: 20px; /* Adjust font size as needed */
  line-height: 1.5; /* Adjust line height for readability */
}

#button-container {
  text-align: center;
}

button {
  font-family: 'Cabin';
  border: none;
  padding: 1%;
  padding-left: 50px;
  padding-right: 50px;
  margin-right: 6%;
  margin-left: 6%;
  background-color: rgb(201, 201, 247);
}

#button-container button:hover {
  cursor: pointer;
  background-color: rgb(226, 226, 249);
}